/* overlay */
.overlay,
.header-overlay {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
}

.overlay.is-active,
.header-overlay.is-active {
  display: block;
}

.overlay {
  z-index: var(--overlay);
}

.header-overlay {
  z-index: var(--header-overlay);
}

/* section */
section {
  margin-bottom: 80px;
}

/* section-title */
.section-title {
  font-family: var(--title-font-400);
  font-size: var(--section-title);
  margin-bottom: 30px;
}

/* main-slider ----------------------------------------- */
.swiper {
  z-index: 0;
}

.main-slider {
  height: 450px;
}

.main-slider__container {
  height: 100%;
}

.main-slider__content-group {
  height: 100%;
}

.main-slider__content {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  word-break: keep-all;
}

.main-slider__content::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, rgba(17, 17, 17, 0.7) 0%, transparent 50%);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.main-slider__text-group {
  z-index: 10;
}

.main-slider__content-category {
  display: inline-block;
  font-size: var(--font-size-18);
  border: 2px solid var(--white);
  border-radius: 50px;
  padding: 4px 12px;
  margin-bottom: 16px;
  color: var(--white);
}

.main-slider__content-title {
  font-size: var(--font-size-32);
  font-family: var(--title-font-500);
  font-weight: 500;
  margin-bottom: 10px;
  color: var(--white);
}

.main-slider__content-desc {
  font-size: var(--font-size-24);
  font-family: var(--title-font-400);
  color: var(--white);
}

.main-slider__pagination-group {
  position: absolute;
  width: 95px;
  height: 35px;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.swiper-pagination {
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
  font-size: var(--font-size-18);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 20px;
  color: var(--white);
}

.swiper-button-prev,
.swiper-button-next {
  top: 50%;
  transform: translateY(-45%);
  height: 100%;
  z-index: 11;
  margin-top: 0;
}

.swiper-button-prev {
  transform: translate(-5px, -45%);
}

.swiper-button-next {
  transform: translate(5px, -45%);
}

/* notice-banner --------------------------------- */
.notice-banner__container {
  display: flex;
  gap: 20px;
}

.notice-banner__group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 0;
  flex-grow: 1;
  gap: 30px;
  height: 140px;
  background-color: var(--background);
  border-radius: 8px;
  overflow: hidden;
}

.notice-banner__img {
  width: 35%;
}

.notice-banner__text-content.desc {
  font-size: var(--font-size-20);
}

.notice-banner__text-content.title {
  font-family: var(--title-font-400);
  font-size: var(--font-size-32);
}

/* additional-services ------------------- */
.additional-services__btn-group {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.additional-services__btn {
  grid-column: span 1;
  height: 90px;
  background-color: var(--background-blue);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  word-break: keep-all;
  padding: 0 15px;
  transition: background 200ms;
}

.additional-services__btn:hover {
  background-color: var(--background-blue-hover);
}

.additional-services .material-symbols-outlined {
  font-size: 40px;
}

.additional-services__btn-content {
  font-size: var(--font-size-20);
}

/* partnership-services ------------------- */
.partnership-services__btn-group {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(6, 1fr);
}

.partnership-services__btn {
  grid-column: span 1;
  height: 90px;
  background-color: var(--background-blue);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  word-break: keep-all;
  padding: 0 15px;
  transition: background 200ms;
}

.partnership-services__btn:hover {
  background-color: var(--background-blue-hover);
}

.partnership-services .material-symbols-outlined {
  font-size: 40px;
}

.partnership-services__btn-content {
  font-size: var(--font-size-20);
}
