/* overlay */
.overlay,
.header-overlay {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
}

.overlay.is-active,
.header-overlay.is-active {
  display: block;
}

.overlay {
  z-index: var(--overlay);
}

.header-overlay {
  z-index: var(--header-overlay);
}

/* section */
section {
  margin-bottom: 80px;
}

.section-title-wrap {
  margin-bottom: 24px;
}

.section-title {
  font-family: var(--title-font-400);
  font-size: var(--section-title);
  margin-bottom: 20px;
}

.section-desc {
  font-size: var(--font-size-18);
}

.btn-view-all {
  font-size: var(--font-size-16);
  align-self: flex-end;
}

.btn-view-all:hover {
  text-decoration: underline;
}

/* main-slider ----------------------------------------- */
.swiper {
  z-index: 0;
}

.main-slider {
  height: 450px;
}

.main-slider__container {
  height: 100%;
}

.main-slider__slide-list {
  height: 100%;
}

.main-slider__slide-item {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  word-break: keep-all;
}

.main-slider__slide-item::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, rgba(17, 17, 17, 0.7) 0%, transparent 50%);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.main-slider__text-group {
  z-index: 10;
}

.main-slider__content-category {
  display: inline-block;
  font-size: var(--font-size-18);
  border: 2px solid var(--white);
  border-radius: 50px;
  padding: 4px 12px;
  margin-bottom: 16px;
  color: var(--white);
}

.main-slider__content-title {
  font-size: var(--font-size-32);
  font-family: var(--title-font-500);
  font-weight: 500;
  margin-bottom: 10px;
  color: var(--white);
}

.main-slider__content-desc {
  font-size: var(--font-size-24);
  font-family: var(--title-font-400);
  color: var(--white);
}

.main-slider__pagination-group {
  position: absolute;
  width: 95px;
  height: 35px;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.main-slider .swiper-pagination {
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
  font-size: var(--font-size-18);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
}

.main-slider .swiper-button-prev::after,
.main-slider .swiper-button-next::after {
  font-size: 20px;
  color: var(--white);
}

.main-slider .swiper-button-prev,
.main-slider .swiper-button-next {
  top: 50%;
  transform: translateY(-45%);
  height: 100%;
  z-index: 11;
  margin-top: 0;
}

.main-slider .swiper-button-prev {
  transform: translate(-5px, -45%);
}

.main-slider .swiper-button-next {
  transform: translate(5px, -45%);
}

/* notice-banner --------------------------------- */
.notice-banner__container {
  display: flex;
  gap: 20px;
}

.notice-banner__group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 0;
  flex-grow: 1;
  gap: 30px;
  height: 140px;
  background-color: var(--background);
  border-radius: 8px;
  overflow: hidden;
}

.notice-banner__img {
  width: 35%;
}

.notice-banner__text-content.desc {
  font-size: var(--font-size-20);
}

.notice-banner__text-content.title {
  font-family: var(--title-font-400);
  font-size: var(--font-size-32);
}

/* additional-services ------------------- */
.additional-services__btn-group {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.additional-services__btn {
  grid-column: span 1;
  height: 90px;
  background-color: var(--background-blue);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  word-break: keep-all;
  padding: 0 15px;
  transition: background 200ms;
}

.additional-services__btn:hover {
  background-color: var(--background-blue-hover);
}

.additional-services .material-symbols-outlined {
  font-size: 40px;
}

.additional-services__btn-content {
  font-size: var(--font-size-20);
}

/* flight-deals -------------------------- */
.flight-deals__slide-list {
  padding: 2px 5px 12px 5px;
}

.flight-deals__slide-item {
  position: relative;
  border: 1px solid rgba(var(--border), 0.7);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: var(--shadow);
  transition: box-shadow, 200ms;
}

.flight-deals__slide-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.flight-deals__badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--white);
  padding: 2px 7px;
  border-radius: 50px;
  border: 1px solid var(--white);
}

.flight-deals__image-wrap {
  width: 100%;
  height: 250px;
}

.flight-deals__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flight-deals__content-wrap {
  padding: 20px;
}

.flight-deals__origin-destination {
  margin-bottom: 12px;
}

.flight-deals__origin {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: var(--font-size-16);
  color: var(--gray-text);
  margin-bottom: 4px;
}

.flight-deals__origin .material-symbols-outlined {
  font-size: 18px;
}

.flight-deals__destination {
  font-family: var(--title-font-500);
  font-size: var(--font-size-20);
}

.flight-deals__price {
  font-size: var(--font-size-20);
  margin-bottom: 4px;
}

.flight-deals__departure-date {
  font-size: var(--font-size-16);
  color: var(--gray-text);
}

/* flight-deals swiper */
.flight-deals .swiper-button-prev,
.flight-deals .swiper-button-next {
  background-color: rgba(0, 0, 0, 0.5);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.flight-deals .swiper-button-prev::after,
.flight-deals .swiper-button-next::after {
  font-size: 25px;
  color: var(--white);
}

/* mfc: monthly-fare-chart ---------------- */
.mfc__content-wrap {
  padding: 35px 45px;
  border-radius: 8px;
  border: 1px solid var(--border);
  box-shadow: var(--shadow);
}

.mfc__content-header {
  display: flex;
  justify-content: space-between;
}

.mfc__t-group {
  display: flex;
  gap: 50px;
}

.mfc__t {
  position: relative;
  font-size: var(--font-size-20);
  color: var(--gray-text);
  padding-bottom: 8px;
  font-weight: 500;
}

.mfc__t.is-selected {
  color: var(--body-text);
}

.mfc__t.is-selected::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 3px;
  background-color: var(--red);
}

.mfc__header-desc {
  font-size: var(--font-size-16);
  color: var(--gray-text);
}

.mfc__tp {
  position: relative;
  overflow: visible;
  width: 100%;
  padding-top: 80px;
}

.mfc__tp-scroll {
  width: 100%;
  overflow-x: auto;
  overflow-y: visible;
}

.mfc__chart-item-wrap {
  position: relative;
  display: inline-flex;
  gap: calc(5.5px);
}

.mfc__chart-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  z-index: 10;
}

.mfc__chart-bar {
  position: relative;
  width: 20px;
  height: 120px;
  border-radius: 50px;
  background-color: var(--background);
}

.mfc__chart-bar-fill {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 20px;
  height: 30px;
  background-color: var(--gray-text);
  border-radius: 50px;
  transition: height 200ms;
}

.mfc__chart-item.lowest-price .mfc__chart-bar-fill {
  background-color: var(--red);
}

.tooltip-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 999;
}

.tooltip {
  position: fixed;
  width: 140px;
  background-color: var(--tooltip-color);
  color: var(--white);
  font-size: 16px;
  z-index: var(--tooltip);
  height: 30px;
  border-radius: 50px;
  line-height: 30px;
  text-align: center;
  opacity: 0;
  transform: translate(-50%, 30px);
  transition: opacity 300ms ease, transform 300ms ease;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  border-width: 10px;
  border-style: solid;
  border-color: var(--tooltip-color) transparent transparent transparent;
  opacity: 1;
}

.tooltip.show {
  opacity: 1;
  transform: translate(-50%, 0);
}

.lowest-price .mfc__chart-date {
  color: var(--body-text);
}

.mfc__chart-date {
  color: var(--gray-text);
  font-size: 12px;
}

/* recommended-city ----------------------- */
.recommended-city__content-wrap {
  display: flex;
  width: 100%;
  height: 500px;
}

.recommended-city__content-item {
  position: relative;
  flex: 1 1 0%;
  transition: all 300ms;
  overflow: hidden;
  border-right: 3px solid var(--white);
}

.recommended-city__content-item:last-child {
  border-right: none;
}

.recommended-city__content-item:hover {
  flex: 1 1 40%;
}

.recommended-city__content-item:hover .recommended-city__text-wrap {
  transform: translateY(0);
}

.recommended-city__content-item:hover .recommended-city__city-desc,
.recommended-city__content-item:hover .recommended-city__btn-booking {
  opacity: 1;
}

.recommended-city__image-wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.recommended-city__image-wrap::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  background: linear-gradient(0deg, rgba(17, 17, 17, 0.7) 0%, transparent 50%);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.recommended-city__image-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recommended-city__text-wrap {
  position: absolute;
  left: 30px;
  bottom: 30px;
  color: var(--white);
  z-index: 10;
  transform: translateY(90px);
  transition: all 200ms;
}

.recommended-city__city-name {
  font-family: var(--title-font-400);
  font-size: var(--font-size-32);
  margin-bottom: 4px;
}

.recommended-city__city-desc {
  font-size: var(--font-size-18);
  margin-bottom: 20px;
  white-space: nowrap;
  opacity: 0;
}

.recommended-city__btn-booking {
  width: 130px;
  height: 35px;
  border-radius: 8px;
  border: 2px solid var(--white);
  font-size: var(--font-size-16);
  color: var(--white);
  opacity: 0;
  transition: all 200ms;
}

.recommended-city__btn-booking:hover {
  border-color: var(--red);
  color: var(--red);
}

/* partnership-services ------------------- */
.partnership-services__btn-group {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(6, 1fr);
}

.partnership-services__btn {
  grid-column: span 1;
  height: 90px;
  background-color: var(--background-blue);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  word-break: keep-all;
  padding: 0 15px;
  transition: background 200ms;
}

.partnership-services__btn:hover {
  background-color: var(--background-blue-hover);
}

.partnership-services .material-symbols-outlined {
  font-size: 40px;
}

.partnership-services__btn-content {
  font-size: var(--font-size-20);
}

/* notice-board --------------------------- */
.notice-board .section-title-wrap {
  display: flex;
  justify-content: space-between;
}

.notice-board .section-title {
  margin-bottom: 0;
}

.notice-board__content-wrap {
  padding: 40px;
  border: 1px solid var(--border);
  box-shadow: var(--shadow);
  border-radius: 8px;
}

.notice-board__content-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border);
  padding: 10px 0;
}

.notice-board__content-item:first-child {
  padding-top: 0;
}

.notice-board__content-item:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.notice-board__content-date {
  color: var(--gray-text);
}

/* faq --------------------------- */
.faq .section-title-wrap {
  display: flex;
  justify-content: space-between;
}

.faq .section-title {
  margin-bottom: 0;
}

.faq__content-wrap {
  padding: 40px;
  border: 1px solid var(--border);
  box-shadow: var(--shadow);
  border-radius: 8px;
}

.faq__content-item:first-child .faq__question {
  padding-top: 0;
}

.faq__question {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border);
  padding: 10px 0;
  cursor: pointer;
}

.faq__question i {
  color: var(--gray-text);
  transition: all 200ms;
}

.faq__answer {
  padding: 15px 0;
  border-bottom: 1px solid var(--border);
}
