@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* section-title */
  .section-title {
    font-size: 35px;
  }

  /* notice-banner ------------------- */
  .notice-banner__group {
    height: 110px;
    gap: 25px;
    padding: 0 20px;
    word-break: keep-all;
  }

  .notice-banner__text-content.desc {
    font-size: var(--font-size-16);
  }

  .notice-banner__text-content.title {
    font-size: var(--font-size-24);
  }

  /* additional-services -------------- */
  .additional-services__btn-content {
    font-size: var(--font-size-18);
  }

  .additional-services__btn {
    height: 80px;
  }

  /* recommended-city ----------------------- */
  .recommended-city__content-item {
    flex: 0 0 50%;
  }

  .recommended-city__content-item:last-child {
    flex-basis: 100%;
    border: 2px solid var(--white);
  }

  .recommended-city__content-item:hover {
    flex: 0 0 50%;
  }

  /* partnership-services ------------------- */
  .partnership-services__btn {
    grid-column: span 2;
    height: 80px;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  /* notice-banner --------------------- */
  .notice-banner__container {
    flex-direction: column;
  }

  .notice-banner__group {
    flex-basis: auto;
    height: 110px;
    gap: 40px;
  }

  .notice-banner__img {
    width: 25%;
  }

  .notice-banner__text-content.desc {
    font-size: var(--font-size-16);
  }

  .notice-banner__text-content.title {
    font-size: var(--font-size-24);
  }

  /* additional-services -------------- */
  .additional-services__btn {
    grid-column: span 2;
    height: 80px;
  }

  .additional-services__btn-content {
    font-size: var(--font-size-18);
  }

  /* recommended-city ----------------------- */
  .recommended-city__content-item {
    flex: 0 0 50%;
  }

  .recommended-city__content-item:last-child {
    flex-basis: 100%;
    border: 2px solid var(--white);
  }

  .recommended-city__content-item:hover {
    flex: 0 0 50%;
  }

  /* partnership-services ------------------- */
  .partnership-services__btn {
    grid-column: span 2;
    height: 80px;
  }
}

@media screen and (max-width: 576px) {
  /* main-slider -------------------- */
  .main-slider__content-category {
    font-size: var(--font-size-16);
  }

  .main-slider__content-title {
    font-size: var(--font-size-24);
  }

  .main-slier__content-desc {
    font-size: var(--font-size-18);
  }

  /* notice-banner --------------------- */
  .notice-banner__container {
    flex-direction: column;
    gap: 15px;
  }

  .notice-banner__group {
    flex-basis: auto;
    height: 90px;
    gap: 25px;
  }

  .notice-banner__img {
    width: 35%;
  }

  .notice-banner__text-content.desc {
    font-size: var(--font-size-14);
  }

  .notice-banner__text-content.title {
    font-size: var(--font-size-20);
  }

  /* additional-services -------------- */
  .additional-services__btn {
    grid-column: span 2;
  }

  .additional-services__btn-content {
    font-size: var(--font-size-16);
  }

  /* mfc: monthly-fare-chart -------------- */
  .mfc__t-group {
    flex-wrap: wrap;
    gap: 20px;
  }

  .mfc__t {
    font-size: var(--font-size-16);
  }

  .mfc__header-desc {
    font-size: var(--font-size-14);
  }

  /* recommended-city ----------------------- */
  .recommended-city__content-item {
    flex: 0 0 100%;
  }

  .recommended-city__content-item:hover {
    flex: 0 0 100%;
  }

  /* partnership-services ------------------- */
  .partnership-services__btn {
    grid-column: span 3;
  }

  /* notice-board -------------------------- */
  .notice-board__content-date {
    display: none;
  }
}

/* 1024px 이하 스타일이 전부 동일한 경우 */
@media screen and (max-width: 1024px) {
  /* mfc: monthly-fare-chart */
  .mfc__content-header {
    flex-direction: column;
    gap: 15px;
  }

  /* recommended-city */
  .recommended-city__content-wrap {
    height: auto;
    flex-wrap: wrap;
  }

  .recommended-city__content-item {
    height: 300px;
    border: 2px solid var(--white);
  }

  .recommended-city__content-item:last-child:hover {
    flex-basis: 100%;
  }

  .recommended-city__image-wrap::before {
    background: linear-gradient(
      0deg,
      rgba(17, 17, 17, 0.7) 0%,
      transparent 80%
    );
  }

  .recommended-city__text-wrap {
    transform: translateY(0);
  }

  .recommended-city__city-desc,
  .recommended-city__btn-booking {
    opacity: 1;
  }

  .recommended-city__city-desc {
    font-size: var(--font-size-16);
    white-space: wrap;
    word-break: keep-all;
  }

  /* partnership-services */
  .partnership-services__btn-content {
    font-size: var(--font-size-18);
  }
}

/* 768px 이하 스타일이 전부 동일한 경우 */
@media screen and (max-width: 768px) {
  /* section-title */
  .section-title {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .section-desc {
    font-size: var(--font-size-16);
    margin-bottom: 16px;
  }

  /* mfc: monthly-fare-chart */
  .mfc__content-wrap {
    padding: 25px 30px;
  }

  /* notice-board */
  .notice-board__content-wrap {
    padding: 25px 30px;
  }

  /* faq */
  .faq__content-wrap {
    padding: 25px 30px;
  }
}
