:root {
  /* 컬러 변수 */
  --body-text: #111111;
  --gray-text: #898989;
  --border: #dcdcdc;
  --white: #ffffff;
  --black: #000000;
  --blue: #2e2e7c;
  --red: #c40b40;
  --background: #ededed;
  --background-blue: #eef5ff;
  --background-blue-hover: #d6e7ff;
  --footer: #252523;

  /* tooltip */
  --tooltip-color: #111111;

  /* day */
  --sunday: #f15928;
  --saturday: #0372ff;

  /* sns */
  --facebook: #4267b2;
  --youtube: #ff0000;
  --instagram: #8134af;
  --twitter-x: #000000;

  /* box-shadow */
  --shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  /* padding */
  --section-padding: 80px;

  /* margin */
  --section-title-margin: 24px;

  /* z-index */
  --header: 9999;
  --mobile-gnb: 9999;
  --overlay: 99999;
  --header-overlay: 99;
  --modal: 999999;
  --tooltip: 99;
}
