/* flight-services-widget ----------------------------------------- */
.fsw {
  margin: 50px 0 60px 0;
}

/* tab */
.fsw__t-group {
  display: flex;
  gap: 2px;
}

.fsw__t {
  flex: 1;
  height: 50px;
  background-color: #9b9b9b;
  font-size: var(--font-size-20);
  color: var(--white);
  border-radius: 15px 15px 0 0;
}

.fsw__t.is-selected {
  color: var(--body-text);
  border: 1px solid var(--border);
  border-bottom: none;
  background-color: var(--white);
}

/* tab-panel */
.fsw__tp-group {
  border: 1px solid var(--border);
  border-top: none;
  padding: 40px;
  border-radius: 0 0 8px 8px;
  box-shadow: var(--shadow);
  font-size: var(--font-size-18);
}

.fsw__tp {
  display: none;
}

.fsw__tp.is-active {
  display: block;
}

/* control 공통 스타일 */
.fsw__ctrl-group {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
}

.fsw__ctrls {
  display: flex;
  border-radius: 25px;
  border: 1px solid var(--border);
}

.fsw__ctrl {
  padding: 8px 20px;
}

.fsw__ctrl.is-selected {
  background-color: var(--blue);
  color: var(--white);
  border: 1px solid var(--blue);
  border-radius: 25px;
}

/* 공통 버튼 스타일 */
.fsw__btn-search {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  background-color: var(--blue);
  color: var(--white);
  grid-column: span 4;
}

/* field 공통 스타일 */
.fsw__tp-field-group {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  font-size: var(--font-size-18);
}

.fsw__tp-location-group {
  grid-column: span 4;
  display: flex;
  gap: 10px;
}

.fsw__tp-date-group {
  grid-column: span 2;
  display: flex;
  gap: 30px;
}

.fsw__tp-field-area {
  border-bottom: 1px solid var(--border);
  padding-bottom: 6px;
  text-align: left;
}

.fsw__tp-switch-location {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid transparent;
}

.fsw__tp-switch-location:hover {
  border: 1px solid var(--border);
}

.flight-origin::before,
.flight-destination::before,
.departure-date::before,
.return-date::before,
.passenger-count::before,
.seat-grade-option::before,
.boarding-date::before {
  display: inline-block;
  transform: translateY(5px);
  padding-right: 8px;
}

.flight-origin::before,
.flight-destination::before {
  font-family: var(--google-icon);
  content: "\e0c8";
  font-size: 24px;
}

.departure-date::before,
.return-date::before {
  font-family: var(--google-icon);
  content: "\e935";
  font-size: 22px;
}

.boarding-date::before {
  font-family: var(--google-icon);
  content: "\e935";
  font-size: 22px;
}

.passenger-count::before {
  font-family: var(--google-icon);
  content: "\e7fd";
  font-size: 24px;
}

.seat-grade-option::before {
  font-family: var(--google-icon);
  content: "\e637";
  font-size: 24px;
}

.flight-origin,
.flight-destination,
.departure-date,
.return-date {
  flex: 1;
}

.fsw__tp-input {
  border: none;
  border-bottom: 1px solid var(--border);
  padding-bottom: 6px;
  width: 100%;
}

.fsw__tp-boarding-date {
  border: none;
  border-bottom: 1px solid var(--border);
  grid-column: span 1;
  text-align: left;
  padding-bottom: 6px;
}

.fsw__tp-boarding-date:focus {
  outline: none;
}

.fsw__tp-passenger-name-group {
  grid-column: span 2;
  display: flex;
  gap: 30px;
}

.fsw__tp-desc {
  grid-column: span 4;
  font-size: var(--font-size-16);
  margin-bottom: 30px;
}

/* 항공권 예매: tp-flight-booking */
.tp-flight-booking .fsw__tp-field-group {
  display: none;
}

.tp-flight-booking .fsw__tp-field-group.is-active {
  display: grid;
}

.tp-flight-booking__nearby-dates-checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
}

.tp-flight-booking__nearby-dates-checkbox input[type="checkbox"] {
  width: 20px;
  height: 20px;
  transform: translateY(1px);
  accent-color: var(--blue);
}

/* 다구간 */
.tp-flight-booking__multi-city-field {
  grid-column: span 4;
}

.tp-flight-booking__multi-city-field .flex {
  display: flex;
  gap: 20px;
}

.tp-flight-booking__multi-city-field .desc {
  margin-bottom: 10px;
  color: var(--gray-text);
}

.tp-flight-booking__multi-city-field .fsw__tp-location-group {
  flex: 1;
}

.tp-flight-booking__multi-city .passenger-count,
.tp-flight-booking__multi-city .seat-grade-option {
  grid-column: span 2;
}

.fsw__btn-add-more-trip {
  grid-column: span 4;
  height: 45px;
  border-radius: 8px;
  background-color: var(--border);
}

.fsw__btn-add-more-trip:hover {
  opacity: 0.7;
}

/* 체크인 */
select.fsw__tp-select-boarding-date {
  border: none;
  border-bottom: 1px solid var(--border);
}

/* 출도착 조회: tp-flight-status */
.tp-flight-status__ctrls {
  display: inline-block;
  margin-bottom: 30px;
}

.tp-flight-status .fsw__tp-location-group {
  gap: 30px;
}

.tp-flight-status .boarding-date,
.tp-flight-status .fsw__btn-search,
.tp-flight-status .reservation-number {
  grid-column: span 2;
}

.tp-flight-status .fsw__tp-desc {
  margin-bottom: 0;
}

.tp-flight-status .fsw__tp-field-group {
  display: none;
}

.tp-flight-status .fsw__tp-field-group.is-active {
  display: grid;
}

.tp-flight-status__number .fsw__btn-search {
  grid-column: span 4;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .fsw__ctrl {
    font-size: var(--font-size-16);
    white-space: nowrap;
  }

  label {
    font-size: var(--font-size-16);
  }

  .fsw__tp-input {
    grid-column: span 2;
  }

  /* 항공권 예매: tp-flight-booking */
  .fsw__ctrl-group {
    gap: 15px;
  }

  /* 항공권 예매: tp-flight-booking - 다구간 */
  .tp-flight-booking__multi-city-field .flex {
    flex-direction: column;
  }

  /* 예약 조회: tp-reservation-lookup */
  .tp-reservation-lookup .boarding-date {
    grid-column: span 2;
  }

  .fsw__tp-passenger-name-group {
    grid-column: span 4;
  }

  .passenger-name {
    flex-grow: 1;
  }

  select.fsw__tp-select-boarding-date {
    grid-column: span 2;
  }

  select.fsw__tp-select-boarding-date option {
    font-size: 16px;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .fsw__ctrl-group {
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
  }

  .fsw__btn-search,
  .fsw__tp-location-group,
  .fsw__tp-date-group {
    grid-column: span 4;
  }

  .passenger-count,
  .seat-grade-option,
  .fsw__tp-input,
  .boarding-date {
    grid-column: span 2;
  }

  /* 항공권 예매: tp-flight-booking - 다구간 */
  .tp-flight-booking__multi-city-field .flex {
    flex-direction: column;
  }

  /* 체크인 */
  select.fsw__tp-select-boarding-date {
    grid-column: span 2;
  }

  /* 예약 조회: tp-reservation-lookup */
  .fsw__tp-passenger-name-group {
    grid-column: span 4;
  }
}

@media screen and (max-width: 576px) {
  .fsw__t,
  .fsw__ctrl,
  label,
  .fsw__tp-field-area {
    font-size: var(--font-size-16);
  }

  .fsw__t {
    height: 55px;
    word-break: keep-all;
  }

  .fsw__tp-group {
    padding: 20px;
  }

  .fsw__ctrl-group {
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
  }

  .fsw__tp-field-area {
    grid-column: span 4;
  }

  .fsw__btn-search,
  .fsw__tp-input,
  .tp-flight-status .boarding-date,
  .fsw__tp-passenger-name-group {
    grid-column: span 4;
  }

  .tp-flight-booking__multi-city .passenger-count,
  .tp-flight-booking__multi-city .seat-grade-option {
    grid-column: span 4;
  }

  .fsw__tp-field-area {
    width: 100%;
  }

  .fsw__tp-passenger-name-group {
    flex-direction: column;
  }

  /* 항공권 예매: tp-flight-booking */
  .fsw__tp-location-group,
  .fsw__tp-date-group {
    grid-column: span 4;
    flex-direction: column;
  }

  .fsw__tp-location-group {
    align-items: center;
  }

  .fsw__tp-date-group {
    gap: 30px;
  }

  /* 항공권 예매: tp-flight-booking - 다구간 */
  .tp-flight-booking__multi-city-field .flex {
    flex-direction: column;
    gap: 20px;
  }

  .tp-flight-booking__multi-city-field .desc {
    margin-bottom: 10px;
    color: var(--gray-text);
  }

  .tp-flight-booking__multi-city-field .passenger-count,
  .tp-flight-booking__multi-city-field .seat-grade-option {
    grid-column: span 4;
  }

  select.fsw__tp-select-boarding-date {
    grid-column: span 4;
  }

  /* 예약 조회: tp-reservation-lookup */
  .fsw__tp-boarding-date {
    grid-column: span 4;
  }

  .fsw__tp-passenger-name-group {
    gap: 30px;
  }

  /* 출도착 조회: tp-flight-status */
  .tp-flight-status .fsw__btn-search,
  .tp-flight-status .reservation-number {
    grid-column: span 4;
  }

  .tp-flight-status .fsw__desc {
    margin-bottom: 0;
  }

  .tp-flight-status .fsw__tp-boarding-date {
    grid-column: span 4;
  }
}

/* modal ----------------------------------------- */
/* 공통 class */
.fsw-modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: var(--white);
  transform: translate(-50%, -50%);
  padding: 50px;
  overflow: hidden;
  z-index: var(--modal);
  border-radius: 8px;
}

.fsw-modal.is-active {
  display: block;
}

.fsw-modal__btn-confirm,
.fsw-modal__btn-reset {
  background-color: var(--blue);
  color: var(--white);
  width: 100px;
  font-size: 18px;
  height: 35px;
  border-radius: 8px;
  flex-shrink: 0;
}

.fsw-modal__btn-reset {
  background-color: var(--gray-text);
}

.fsw-modal__container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.fsw-modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 25px;
}

.fsw-modal__close:hover {
  opacity: 0.5;
}

.fsw-modal__header-title {
  font-family: var(--title-font-400);
  font-size: 24px;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .fsw-modal {
    padding: 30px;
    top: 0;
    left: 0;
    transform: none;
    z-index: 99999;
    height: 100%;
    width: 100%;
    border-radius: 0;
  }

  .fsw-modal__container {
    height: 100%;
  }
}

/* 출발지/도착지 */
.fsw-modal__search-input-wrap {
  display: flex;
  gap: 10px;
}

.fsw-modal__search-input {
  border: none;
  border-bottom: 1px solid var(--border);
  width: 100%;
}

.fsw-modal__btn-search i {
  font-size: 20px;
}

.fsw-modal__country-airport-wrap {
  display: flex;
  height: 300px;
  border: 1px solid var(--border);
}

.fsw-modal__region-wrap {
  border-right: 1px solid var(--border);
}

.fsw-modal__city-airport-wrap {
  overflow-y: scroll;
}

.fsw-modal__served-destination-title {
  font-size: var(--font-size-18);
  padding-bottom: 10px;
}

/* 대륙 선택 */
.fsw-modal__region-wrap {
  width: 250px;
}

.fsw-modal__select-region {
  width: 100%;
  height: 35px;
  padding-left: 15px;
  text-align: left;
}

.fsw-modal__select-region:hover {
  background-color: var(--background-blue);
}

.fsw-modal__select-region.is-active {
  background-color: var(--background);
}

/* 도시/공항 선택 */
.fsw-modal__city-airport-wrap {
  display: none;
  overflow-y: scroll;
  width: 350px;
  padding: 20px;
}

.fsw-modal__city-airport-wrap.is-active {
  display: block;
}

.fsw-modal__select-city-airport {
  width: 100%;
  height: 35px;
  text-align: left;
}

.fsw-modal__select-city-airport:hover {
  background-color: var(--background-blue);
}

.fsw-modal__select-city-airport {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fsw-modal__select-city-airport.is-active {
  background-color: var(--background);
}

.fsw-modal__served-destination {
  margin-bottom: 30px;
}

.airport-code {
  color: var(--gray-text);
}

@media screen and (max-width: 768px) {
  .fsw-modal__country-airport-wrap {
    flex-grow: 1;
  }

  .fsw-modal__city-airport-wrap {
    width: 100%;
    padding: 10px;
  }

  .fsw-modal__select-city-airport {
    height: auto;
    padding: 6px 0;
  }
}

/* 캘린더 - 가는날/오는날 */
.fsw-modal__calendar .fsw-modal__container {
  gap: 30px;
}

.fsw-modal__date-group {
  display: flex;
  gap: 40px;
}

.fsw-modal__date-group .fsw-modal__departure-date,
.fsw-modal__date-group .fsw-modal__return-date {
  display: inline-block;
  padding-bottom: 6px;
  font-size: var(--font-size-16);
  border-bottom: 1px solid var(--border);
  text-align: left;
  flex-grow: 1;
}

.fsw-modal__departure-date::before,
.fsw-modal__return-date::before {
  font-family: var(--google-icon);
  content: "\e935";
  font-size: 20px;
  display: inline-block;
  transform: translateY(3px);
  margin-right: 6px;
}

.fsw-modal__calendar-group {
  display: flex;
  gap: 60px;
}

.fsw-modal__calendar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.fsw-modal__select-month {
  border: none;
  font-size: var(--font-size-18);
}

.fsw-modal__calendar-table {
  font-size: var(--font-size-18);
  border-spacing: 0 8px;
}

.fsw-modal__calendar-table th {
  font-weight: 400;
}

.fsw-modal__calendar-table td {
  position: relative;
  border-style: none;
  padding: 0;
}

.fsw-modal__calendar-table td button {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.fsw-modal__calendar-table td button:disabled {
  color: var(--gray-text);
}

.fsw-modal__calendar-table td:hover button:disabled {
  background-color: var(--white);
  cursor: auto;
}

.fsw-modal__calendar-table td:hover button {
  background-color: var(--background-blue);
}

.fsw-modal__calendar--sun,
.fsw-modal__calendar--sun button {
  color: var(--sunday);
}

.fsw-modal__calendar--sat,
.fsw-modal__calendar--sat button {
  color: var(--saturday);
}

.fsw-modal__calendar--today button::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border: 1px dashed var(--gray-text);
  border-radius: 50%;
}

.fsw-modal__calendar-table .from-day::before,
.fsw-modal__calendar-table .return-day::before {
  content: "";
  border-radius: 50%;
}

.fsw-modal__calendar-table .from-day {
  border-radius: 50px 0 0 50px;
}

.fsw-modal__calendar-table .return-day {
  border-radius: 0 50px 50px 0;
}

.fsw-modal__calendar-table .return-day button,
.fsw-modal__calendar-table .from-day button,
.fsw-modal__calendar-table .return-day:hover button,
.fsw-modal__calendar-table .from-day:hover button {
  background-color: var(--red);
  color: var(--white);
}

.fsw-modal__calendar-table .middle {
  background-color: var(--background);
}

/* tooltip */
[data-tooltip] {
  position: relative;
}

[data-tooltip]:hover::before {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 115%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--white);
  font-size: 14px;
  z-index: var(--tooltip);
  width: 40px;
  height: 25px;
  border-radius: 4px;
  line-height: 25px;
  text-align: center;
}

[data-tooltip]:hover::after {
  content: "";
  position: absolute;
  bottom: 93%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .fsw-modal__calendar {
    padding: 35px;
  }
}

@media screen and (max-width: 768px) {
  .fsw-modal__calendar {
    overflow: scroll;
    height: 100%;
    width: 100%;
  }

  .fsw-modal__calendar .fsw-modal__container {
    height: auto;
  }

  .fsw-modal__calendar-group {
    flex-direction: column;
    gap: 30px;
  }
}

/* 탑승객 */
.fsw-modal__passenger .fsw-modal__container {
  gap: 40px;
}

.fsw-modal__passenger .fsw-modal__header-title {
  margin-bottom: 0;
}

.fsw-modal__passenger-form-title {
  font-size: var(--font-size-24);
  margin-bottom: 4px;
}

.fsw-modal__passenger-form-desc {
  display: block;
  margin-bottom: 12px;
}

.fsw-modal__passenger-count-form-wrap {
  display: flex;
  gap: 50px;
}

.fsw-modal__passenger-count-form {
  flex-basis: 0;
  flex-grow: 1;
}

.fsw-modal__passenger-form-desc {
  font-size: var(--font-size-18);
  color: var(--gray-text);
}

.fsw-modal__passenger-input-wrap {
  display: flex;
  font-size: var(--font-size-32);
  border: 1px solid var(--border);
}

.fsw-modal__btn-passenger {
  width: 50px;
}

.fsw-modal__btn-passenger.add,
.fsw-modal__btn-passenger.decrease {
  background-color: var(--background);
}

.fsw-modal__btn-passenger:not(:disabled):hover {
  background-color: #ccc;
}

.fsw-modal__btn-passenger:disabled {
  cursor: auto;
}

.fsw-modal__passenger-count-num {
  flex-basis: 50px;
  flex-grow: 1;
  flex-shrink: 0;
  text-align: center;
}

.fsw-modal__passenger-desc-item::before {
  content: "·";
  display: inline-block;
  margin-bottom: 4px;
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .fsw-modal__passenger-count-form-wrap {
    gap: 25px;
  }
}

@media screen and (max-width: 576px) {
  .fsw-modal__passenger .fsw-modal__container {
    overflow: scroll;
  }

  .fsw-modal__passenger-count-form-wrap {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .fsw-modal__passenger-count-form {
    width: 200px;
  }
}

/* 좌석 등급 선택 */
.fsw-modal__seat-grade-form-wrap {
  margin-bottom: 10px;
}

.fsw-modal__seat-grade-form-title {
  font-size: var(--font-size-24);
  margin-bottom: 10px;
}

.fsw-modal__seat-grade-btn-group {
  display: flex;
  gap: 15px;
}

.fsw-modal__seat-grade-btn-option {
  flex-grow: 1;
  flex-basis: 150px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border: 1px solid var(--border);
  height: 50px;
  font-size: var(--font-size-18);
}

.fsw-modal__seat-grade-btn-option.is-selected {
  border-color: var(--red);
}

.fsw-modal__seat-grade-btn-option i {
  font-size: var(--font-size-20);
  color: var(--red);
}

.fsw-modal__seat-grade-checkbox-group {
  display: flex;
  gap: 30px;
}

.fsw-modal__seat-grade-checkbox-wrap {
  display: flex;
  gap: 6px;
  align-items: center;
}

.fsw-modal__seat-grade-checkbox {
  width: 20px;
  height: 20px;
  accent-color: var(--blue);
}

.fsw-modal__seat-grade-checkbox-desc {
  font-size: var(--font-size-16);
}

.fsw-modal__seat-grade-desc {
  display: none;
}

[data-flight-type="return"] {
  display: none;
}

@media screen and (max-width: 768px) {
  .fsw-modal__seat-grade .fsw-modal__container {
    overflow: scroll;
  }

  .fsw-modal__seat-grade-btn-group {
    flex-wrap: wrap;
  }

  .fsw-modal__seat-grade-btn-option {
    flex-grow: 0;
  }

  .fsw-modal__seat-grade-checkbox-group {
    flex-direction: column;
    gap: 10px;
  }
}
